body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 0;
  padding-top: 1vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0283b7), to(#06437e));
  background: -webkit-linear-gradient(#0283b7, #06437e);
  background: -o-linear-gradient(#0283b7, #06437e);
  background: linear-gradient(#0283b7, #06437e);
  color: #fedd03;
  font-family: "Dosis", "Britannic Bold", sans-serif;
  font-size: 2.5vmax;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
}
body div.equals-row, body div.result, body div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body div.result {
  font-size: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body div.row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
body input {
  margin: 0;
  font-size: 2em;
}
body button {
  margin: 0;
  padding: 10px 0;
  border: 2px solid #1c1700;
  background-color: #fbbd1e;
  font-size: 1.3em;
}

#calculator {
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#title {
  font-size: 6vw;
  margin-top: 0;
}

#zero, #point {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

#myBtn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

#calcInput {
  text-align: center;
  border: 3px solid #1c1700;
  border-radius: 7px 7px 0px 0px;
  background-color: #fbf0dc;
}

::-webkit-input-placeholder {
  color: #f3b6cf;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #f3b6cf;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #f3b6cf;
  opacity: 1;
}

::placeholder {
  color: #f3b6cf;
  opacity: 1;
}

#result {
  border: 3px solid #1c1700;
  border-radius: 0px 0px 7px 7px;
  color: #e11c16;
  background-color: #fbeacc;
}

#result.enabled {
  -webkit-animation: shake 1.5s;
          animation: shake 1.5s;
  font-size: 2em;
}

#credits {
  margin-top: 25px;
}
#credits a {
  color: #fedd03;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 10px;
}
#credits a:hover {
  color: #f8ead5;
  text-decoration: none;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
}
@media only screen and (min-width: 800px) {
  body {
    margin: 0 35%;
  }
}
@media only screen and (max-width: 800px) {
  body {
    margin: 0 15%;
    font-size: 3.6vw;
  }
  body button {
    border-width: 1px;
  }
}
@media only screen and (max-height: 615px) {
  body {
    padding-top: 4%;
  }
  body input {
    margin-top: 10px;
  }
}
