
.grid-container {
  border-radius: 3px;
}
.grid-container #btn-grid {
  padding: 10px;
}
.grid-container #btn-grid .drum-pad {
  height: 25px;
  margin: 2px;
  width: 25px;
  font-size: 12px;
}
/* @media screen and (min-width: 720px) {
  .grid-container #btn-grid .drum-pad {
    width: 125px;
    height: 125px;
  }
} */
