#drum-machine {
  position: relative;
  top: 0px;
}

.grid-container {
  flex: 1 1 0%;
  border-radius: 3px;
}
.grid-container #btn-grid {
  padding: 10px;
}
.grid-container #btn-grid .drum-pad {
  height: 65px;
  margin: 5px;
  width: 65px;
  font-size: 12px;
}
/* @media screen and (min-width: 720px) {
  .grid-container #btn-grid .drum-pad {
    width: 125px;
    height: 125px;
  }
} */
