#footer{
  background: #242f3e;
  color: white;
  display: flex;
  flex-direction: column;
}
#company{
  align-self: stretch;
  justify-content: center;
  align-items: center;
  /* align-content: space-around; */
  flex-flow: row wrap;
  padding-top: 2vh;
  /* padding-left: 1vh; */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.divider{
  color: grey;
  margin: 0 2vw;
}
#company > *{
  padding: 0 5vh;
}
#footer a{
  text-decoration: none;
  padding: 15px 10px;
  color: white;
}
#credits{
  padding-bottom: 2vh;
}
#credits a {
  padding: 5px 0;
}

@media only screen
  and (max-width: 620px)   {
  /* #nav-bar > button{
    font-size: 60px;
  } */
  #footer {
    font-size: 36px;
  }
}
