body {
  margin: 0;
  transition: 0.4s;
  text-align: center;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 20px;
  color: #002f36;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 38px;
  font-weight: 900;
}
h3{
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}
h4{
  font-size: 30px;
  font-weight: 600;
  position: 2px;
}
h5{
  font-size: 26px;
  font-weight: 500;
  margin: 1vw 0 0;
}
button:hover, [type=submit] {
  cursor: pointer;
}
#header{
  background: #242f3e;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 15px;
  padding-top: 15px;
  /* border: 6px solid pink; */
}
#header * {
  color: white;
}
#logo{
  flex: 0 0 0%;
  display: flex;
  transition: 0.4s;
  /* border: 2px solid white; */
  padding: 0 300px;
  /* padding-bottom: 6px; */
}
#logo h1 {
  font-family: "Quattrocento", serif;
  flex: 0 0 0%;
  text-shadow: -1px 0 #242f3e, 0 1px #242f3e, 1px 0 #242f3e, 0 -1px #242f3e;
  /* border: 3px solid red; */
  margin: 0;
}
#logo-img{
  flex: 0 0 0%;
  order: 1;
  /* border: 3px solid green; */
}

#logo-img img{
  transform: rotate(-24deg);
  width: 140px;
}
#nav-bar {
  /* border: 4px solid pink; */
  flex: 0 1 15%;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.1vh 3vw 0.2vh;
}
#nav-bar > * {
  flex: 1 1 10%;
}
#nav-bar a button {
  font-size: inherit;
  background: inherit;
  padding: 5px 26px;
  border: none;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
}
#info-collect {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#info-collect h2, #info-collect p {
  margin: 3px;
}
#newspaper{
  letter-spacing: -0.5px;
}
#form{
  margin: 3vh 0 12vh;
  display: flex;
  justify-content: center;
  width: 50vw;
}
#email {
  flex: 1 1 70%;
  font-size: 80%;
  /* width: 30%; */
  padding: 3px 5px 3px 7px;
  font-size: inherit;
  text-align: center;
  border-radius: 10px 0 0 10px;
  border-right: 0;
}
#submit {
  flex: 1 1 30%;
  /* display: block; */
  /* text-transform: uppercase; */
  font-size: inherit;
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 7px 12px 7px 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #aee423;
  color: inherit;
}
#features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}
#features i{
  font-size: 50px;
}

#features p{
  margin: 0 0 5vh;
}
#tree{
  margin-top: 3vh;
  color: #96c718; /* #aee423;*/
}
#sun{
  color: #7ca414; /* #e45923; /* #ba23e4;/* #e45923; #e423ae;*/
}
#handshake{
  color: #628110; /* #234ee4;/* #23aee4;  #5923e4;  #23aee4;*/
}
#how{
  height: 3vh;
}
#video{
  margin-bottom: 8vh;
}
#pricing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebeded;
  padding: 0 1vh ;
  /* width: 90%; */
}
.price-box{
  flex-basis: 225px;
  background-color: white;
  margin: 15px;
  padding: 2px 15px;
}
#pricing h4{
  margin: 0;
  padding: 0;
}
.blue-line{
  background-color: #82d8e3;
  width: 100%;
  height: 5px;
}
#footer{
  background: #121a23;
  align-self: stretch;
  justify-content: center;
  display: flex;
  align-items: center;
  /* align-content: space-around; */
  flex-flow: row wrap;
  height: 10vh;
  padding-left: 1vh;
}
.divider{
  color: grey;
  margin: 0 2vw;
}
#footer > *{
  margin: 0 20px;
}
#footer-links a{
  text-decoration: none;
  color: white;
}
#copyright{
  color: white;
}

@media only screen
  and (max-width: 620px)   {
  /* #nav-bar > button{
    font-size: 60px;
  } */
  iframe {
    height: auto;
    width: auto;
  }
}
