html{
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  text-transform: uppercase;
}
h1{
  font-weight: 600;
  font-size: 3vmax;
  letter-spacing: -3px;
}

p{
  font-size: 1vw;
}

#main{
  display: flex;
}

#about{
  flex: 1 1 0%;
  margin-left: 9px;

  /* Toggle */
  margin-right: -22px;
}

#gallery{
  flex: 4 1 0%;
  display: flex;
  flex-direction: column;

  /* Toggle... or maybe just keep this off */
  /* justify-content: center;
  height: 100vh; */
}

.thumb-row{
  display: flex;

  /* Toggle... or maybe just keep this off */
  /* flex: 1 1 0%; */
}


/* Toggle */
.thumbnail{
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100px;
  width: 100%;  
}

.thumbnail > *{
  flex: 1 1 40%;
  align-self: center;
}

.thumbnail-img{
  width: 90%;
}

.thumbnail1{
  display: fixed;
  width: 270%;
  z-index: 2000;
}
