body {
  background: linear-gradient(#e8a181, #a77060);
  font-size: 18px;
  font-family: arial;
  color: hsl(223, 25%, 20%);
  padding: 4%;
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
#survey-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 2fr));
  grid-column-gap: 15px;
  grid-row-gap: 35px;
  width: 100%;
}
input {
  align-self: end;
}
label {
  align-self: start;
  text-align: right;
  transition: 1s;
}

#description {
  margin-bottom: 3%;
  text-align: center;
}
#name,
#email,
#number, textarea{
  margin-right: 30%;
  font-size: 80%;
  transition: 1s;
}
textarea{
  resize: none;
}
#dropdown{
  margin-right: auto;
  font-size: 80%;
  align-self: start;
}
.btn-list{
  margin-top: 0;
}
#spy{
  margin-bottom: 0;
}
#submit {
  grid-column: 1 / 3;
  background-color: #6074a7;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 1%;
  align-self: center;
  justify-self: center;
}
@media (max-width: 1200px){
  body{
    margin-left: 7%;
    margin-right: 7%;
    transition: 0.5s;
  }
  
  #name,
#email,
#number, textarea{
  margin-right: 7%;
  font-size: 80%;
  transition: 0.5s;
}
}
@media (max-width: 875px){
  body{
    width: 85%;
    margin: auto;
  }
  #survey-form{
    grid-row-gap: 0px;
  }
  label{
    margin-top: 15px;
    transition: 1s;
  }
  #submit{
    grid-column: 1 / 2;
  }
  label {
    text-align: left;
  }
}

@media (max-width: 600px){
  body{
    width: 75%;
    margin: 5px;
  }
}
