/* This separation of css enables me to embed the drum machine as a 'not full page' app within another page. */

#drum-body {
  /* margin-top: 150px; */
}
#drum-machine{
  /* top: 75px; */
}
.grid-container {
  border-radius: 10px;
}
.grid-container #btn-grid {
  padding: 50px;
}
.grid-container #btn-grid .drum-pad {
  height: 75px;
  margin: 5px;
  width: 75px;
  font-size: 24px;
}
@media screen and (min-width: 720px) {
  .grid-container #btn-grid .drum-pad {
    width: 125px;
    height: 125px;
  }
}
