body{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #f3fafe;
}

header > * {
  margin-bottom: 20px;
}

header > div{
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-name{
  font-weight: 600;
  margin: 0 20px;
}

#title{
  text-align: center;
}

h1{
  font-weight: 500;
  font-size: 2.2em;
  margin: 40px 0 12px;
}

h2{
  font-weight: 200;
  margin: 0 0 40px;
  text-align: center;
}

#chart-area{
  width: 97vw;
  overflow: auto;
}

#chart-area svg{
  background: linear-gradient(#fef8fb, white);
  border-radius: 15px;
}

.tooltip{
  font-family: sans-serif;
}

.link{
  text-decoration: none;
}

.link:visited{
  color: inherit;
}
