/* Style from d3-tip.css */
/* Adapted for use without d3-tip */
.tooltip {
    position: absolute;
    line-height: 1.3;
    letter-spacing: 1.1;
    padding: 12px;
    font: 12px;
    font-weight: 200;
    background: rgba(3, 99, 0, 0.9);
    color: white;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.good{
  font-weight: 700;
  color: red;
}
