html{
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

body{
  margin: 0;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description{
  /* PERHAPS MAKE 10VW THE BODY'S LEFT/RIGHT MARGIN, TO REDUCE CODE REPETITION  */
  padding: 4vw 10vw;
  font-size: 36px;
  margin-bottom: 5vw;
}

.galleryBtn{
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* Expand clickable area for better mobile experience */
  padding: 10px;
}

.galleryBtn > button {
  padding: 12px 18px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.galleryBtn.pulse{
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#portfolioBtn > button {
  background-color: #eb3d3c;
  color: #f2f2f2;
}

#seeMoreBtn{
  margin: 6vw;
}

#seeMoreBtn > button {
  background-color: #e6e600;
  color: #444;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  display: none;
  opacity: 0;
  padding: 1vw 5vw;
}

/* Toggle */
.gallery-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  padding: 2vw 0 4vw;
}

.thumbnail {
  max-width: 50vw;
  max-height: 90vh;
}

.thumbnail-img{
  max-width: 100%;
  max-height: 90vh;
}

.item-info{
  /* border: 2px solid red; */
  padding: 15px;
  font-size: 30px;
  max-width: 400px;
}

.gitHub {
  font-size: inherit;
  background-color: #e6e600;
  border-radius: 10px;
  
}

.item-info a{
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
}

.item-info a > * {
  margin: 10px;
}

#drum{
  position: relative;
  z-index: 3000;
  margin-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolkit{
  padding: 3vw 10vw 4vw;
  font-size: 26px;
}

#toolkit > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1vw;
}
#toolkit h2{
  text-decoration: solid #00e6e6 underline;
  margin: 4vw 0 0;
  text-align: center;
}

#toolkit > div > div {
  flex: 1 1 30%;
  margin: 1vw;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

h2{
  font-size: 36px;
  font-weight: 400;
}
h3{
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 0;
}

.hide{
  display: none;
}

#tagline{
  width: 225px;
  font-size: 18px;
}

#footer{
  margin-top: 3vw;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

/* Make links light blue on hover */
#footer a:hover, #nav-bar a:hover{
  color: #00e6e6;
}
